body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

.container{
display:flex;
justify-content:center;
gap:40px;
margin:20px;
}

.program{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

input{
display:block;
margin:10px auto;
padding:8px;
width:200px;
}

button{
padding:10px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.memory{
background:#222;
color:#0f0;
padding:20px;
margin:20px auto;
width:300px;
font-size:20px;
}

.dashboard{
width:400px;
margin:auto;
text-align:left;
background:white;
padding:15px;
border-radius:10px;
}